<!DOCTYPE html>
<html id="top" lang="ja" prefix="og: http://ogp.me/ns# fb: http://www.facebook.com/2008/fbml">
  <head>

    <!-- Heads -->
    {{ block "meta" . }}{{ end }}
    {{ partial "scripts/analytics.html" . }}
    <link href="/css/main.css" rel="stylesheet">

    

  </head>
  <body id="{{ if eq .Kind "home" }}home{{ end }}" class="{{ if eq .Kind "home" }}home{{ end }}">

    <div class="PageRoot">

      {{ partial "block/header.html" . }}
      {{ block "main" . }}{{ end }}
      {{ partial "block/stamped-widget.html" . }}
      {{ partial "block/footer" $.Site.Data.global.footer }} 

    </div>

    {{ partial "scripts/segment-events.html" . }}

    <!-- BEGIN KLAVIYO SIGNUP FORM CODE -->
    <script type="text/javascript">
      var __klKey = __klKey || 'LMvqNT';
      (function() {
      var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//static.klaviyo.com/forms/js/client.js';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
      })();
    </script>
    <!-- END KLAVIYO SIGNUP FORM CODE -->

    <!-- {{ partial "scripts/scripts.html" . }} -->


  </body>
</html>
