{{ define "title" }}{{ .Title }} | {{ end }}

{{ define "meta" }}
  {{ partial "meta/charset.html" . }}
  <title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>
  {{ range .AlternativeOutputFormats }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
  {{ end }}
  {{ partial "meta/seo.html" . }}
  {{ partial "meta/browser.html" . }}
  {{ partial "meta/og.html" . }}
  {{ partial "meta/favicon.html" . }}
  {{ partial "meta/webfont.html" . }}
  {{ partial "meta/single_json_ld.html" . }}
{{ end }}


{{ define "main" }}

<div class="bg-near-white pv3 pv5-l">
  <div class="mw7 center">
    {{ range first 6 .Pages }}
      {{ .Render "summary" }}
    {{ end }}

    <div class="tc mt3">
      <a href="/p" class="no-underline">もっと見る</a>
    </div>
  </div>
</div>


{{ end }}
