{{ define "title" }}{{ .Title }} | {{ end }}

{{ define "meta" }}
  {{ partial "meta/charset.html" . }}
  <title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>
  {{ range .AlternativeOutputFormats }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
  {{ end }}
  {{ partial "meta/seo.html" . }}
  {{ partial "meta/browser.html" . }}
  {{ partial "meta/og.html" . }}
  {{ partial "meta/favicon.html" . }}
  {{ partial "meta/webfont.html" . }}
  {{ partial "meta/single_json_ld.html" . }}
  {{ partial "meta/ebisu.html" . }}
{{ end }}


{{ define "main" }}

<div class="bg-near-white pv3 pv5-l">
  <div class="mw7 center">
    
    <header class="mb3 mb5-l tc">
      <h1 class="b f5">
        {{ .Title }}
      </h1>
    </header>

    {{ $paginator := .Paginate (where .Data.Pages "Type" "p") }}

    {{ range $paginator.Pages }}
      {{ .Render "summary" }}
    {{ end }}

    <div class="tc mt3">
      {{ range $paginator.Pagers }}
      <a href="{{ .URL }}" 
         class="link dib pa3 black-90 lh-solid {{ if eq . $paginator }}black-30 bb bw1{{ end }}">
        {{ .PageNumber }}
      </a>
      {{ end }}
    </div>
    
  </div>
</div>


{{ end }}
