{{ define "title" }}{{ .Title }} | {{ end }}

{{ define "meta" }}
  <meta charset="utf-8">
  <title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
  <meta property="og:title" content="{{ block "title" . }}{{ end }}{{ .Site.Title }}">
  <meta name="twitter:title" content="{{ block "title" . }}{{ end }}{{ .Site.Title }}">
  {{ partial "meta/og.html" . }}
  {{ partial "meta/favicon.html" . }}
  {{ partial "meta/single_json_ld.html" . }}
{{ end }}


{{ define "main" }}
<div class="bg-white">
  <div class="measure-wide center">
    <div class="w-100 mb3">
      <article role="article" class="article">

        <header role="banner" class="pl3 pv3 pr3 measure-wide-ns center-ns tc-ns">
          
          <div>
            {{ with .Params.categories }}
              {{ $taxo := index $.Site.Data.taxonomies (printf "%s" .) }}
              <a href="/categories/{{ . }}" class="link dim br-pill ph3 pv mb2 dib b ba bw1 primary" style="font-size:.7rem">
                <span>{{ $taxo }}</span>
              </a>
            {{ end }}
          </div>

          <h1 class="lh-title mt1 mb3 f4 f3-ns black-90">
            {{ .Title }}
          </h1>
          <div>
            <div class="black-30 f6">
              {{ if not .Lastmod.IsZero }}
                 <time datetime='{{ .Page.Lastmod.Format "2006-01-02T15:04:05Z" }}'>更新日: {{ .Page.Lastmod.Format "2006 年 01 月 02 日" }}</time>
              {{ end }}
              {{ if .Params.date }}
                <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z" }}'>公開日: {{ .Date.Format "2006 年 01 月 02 日" }}</time>
              {{ end }}
            </div>
          </div>

        </header>

        {{ with .Params.hero }}

          <figure class="ma0 mb3">
            <img class="w-100" src="{{ . }}" alt="{{ $.Title }}">
          </figure>

        {{ end }}

        <div class="article__body">
          <!-- {{ with .Params.chat }}
            {{ if eq .enabled true }}
              {{ range .item }}
                <div class="Chat">
                  <div class='Chat__item Box 
                    {{ if eq .type "oji" }}Chat__item--right Chat__item--oji
                    {{ else if eq .type "michi" }}Chat__item--left Chat__item--michi
                    {{ end }}
                  '>
                    {{ range .content }}
                    <div class="Chat__item-body">
                      {{ .text | safeHTML }}
                    </div>
                    {{ end }}
                    <a class="Chat__item-icon" href="/p/sake-daddy-and-michiko-chan/"></a>
                  </div>
                </div>
              {{ end }}
            {{ end }}
          {{ end }} -->

          {{ with .Params.intro }}
          <div class="ph3 ph0-l">
            {{ . | safeHTML }}
          </div>
          {{ end }}

          {{ if eq .Params.toc true }}
            <div class="mh3 mh0-l">
              <div class="bg-near-white pv3 ph5 br2">
                <h3 class="tc">✍️ もくじ 👩‍🎓</h3>
                {{ .TableOfContents }}
              </div>
            </div>
          {{ end }}

          <div class="mh3 mh0-l">
            {{ .Content }}
          </div>

          {{ partial "block/article-footer-meta.html" . }}

          <!-- {{ partial "block/share.html" . }} -->

          <!-- <div class="BannerModule BannerModule--post">
            <a href="https://goo.gl/Czi2nL" class="BannerModule__link"></a>
            <div class="BannerModule__image" style="background-image: url(/assets/images/banners/banner-003-small.jpg)"></div>
            <div class="BannerModule__body">
              <h6>美味しい日本酒に、毎月出会おう。— 日本酒の定期便「saketaku」</h6>
              <div class="BannerModule__body-footer">
                <div class="BannerModule__body-logo"></div>
              </div>
            </div>
          </div> -->

        </div>

      </article>
    </div>
  </div>
</div>




<!-- {{ partial "block/follow.html" . }} -->

{{ partial "block/recent-posts.html" . }}


{{ end }}