<article class="relative mb4-l pa3 bg-white bb ba-l b--black-10 br2-l">
  <a href="{{ .RelPermalink }}" class="absolute absolute--fill"></a>
  <div class="flex flex-row">
    <div class="w-60 pr3 order-1">
      <h2 class="f5 f3-l mt0 lh-title">{{ .Title }}</h2>
      <p class="f6 f5-l lh-copy">
        {{ .Summary }}
      </p>
      <time class="f6 db gray">
        {{ .PublishDate.Format "January 2, 2006" }} 
      </time>

    </div>
    {{ with .Params.hero }}
      <div class="pl3 order-2 mb0 w-40">
        <img src="{{ . }}" class="db" alt="{{ $.Title }}">
      </div>
    {{ end }}
  </div>
</article>