<div class="BannerModule Box">
  <div class="BannerModule__wrapper Box BoxGrid">
    <div class="BannerModule__content Box Box--row Box--wrap">

        <div class="Image">
          <div class="Image__spacer"></div>
          <div class="Image__wrapper">
            <div class="Image__img lazyload" data-bgset="/assets/images/banners/banner-002-small.jpg [palm] | /assets/images/banners/banner-002-medium.jpg　[lap] | /assets/images/banners/banner-002-large.jpg"></div>
          </div>
        </div>
        <div class="BannerModule__body Box">
          <div>
            <p>
              <b>＼今だけ！期間限定の初月半額キャンペーン！／</b>
            </p>
            <h2>
              入手困難な極上日本酒、<br>
              毎月２本お届け。
            </h2>
            <p>
              日本酒ソムリエの希少なセレクション！丁寧に厳選された極上日本酒が毎月届く。saketakuでしか手に入らない「日本酒のテイスティングノート」や「本格一品おつまみ」が人気です。
            </p>
            <div class="ButtonGroup Box">

              <a href="//b.saketaku.com/b-003-1980/sp?utm_source=owned_media&utm_medium=banner&utm_campaign=b-003-1980" class="Button">詳しく見る</a>

            </div>
          </div>
        </div>

    </div>
  </div>
</div>
