<div class="BannerModule Box">
  <div class="BannerModule__wrapper Box BoxGrid">
    <div class="BannerModule__content Box Box--row Box--wrap">

        <div class="Image">
          <amp-img src='/assets/images/banners/banner-002-small.jpg' alt="美味しい日本酒の定期便「saketaku（サケタク）」" width="976" height="549" layout="responsive"></amp-img>
        </div>
        <div class="BannerModule__body Box">
          <div>
            <p>
              <b>＼今だけ！期間限定の初月半額キャンペーン！／</b>
            </p>
            <h2>
              美味しい日本酒に、<br>
              毎月出会おう。
            </h2>
            <p>
              日本酒の専門家が丁寧に厳選した、美味しい日本酒を毎月お届けしています。サケタクでしか手に入らない「日本酒のテイスティングノート」が人気です。
            </p>
            <div class="ButtonGroup Box">
              <a href="//goo.gl/sw281x" class="Button">詳しく見る</a>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
