<div class="ml3 mr3 ml0-l mr0-l mt4 mb5 bg-primary tc overflow-hidden br3" style="box-shadow:0 2px 20px rgba(0,0,0,.1)">
  <div class="">
      <div class="">
        <img src="/images/banners/banner-002-medium.jpg" alt="美味しい日本酒の定期便「saketaku（サケタク）」">
      </div>
      <div class="white pa3">
        <p class="mb2 f6 white-80">
          <b>＼今だけ！送料無料・完全返金保証キャンペーン中！／</b>
        </p>
        <h2 class="mt0 mb3" style="margin-top:0;">
          プロ厳選の美味しい日本酒、<br>
          何が届くかお楽しみ。
        </h2>
        <div class="mt3 pt3 bt b--white-30 lh-solid">
          <div class="dib b f4" style="letter-spacing:.1em;color:#eeff3f;">★★★★★</div>
        </div>
        <div class="black-90 lh-copy f6 b pl3 pr3 mb3">
          <p>
            おうちにいい酒が届くのは、とってもわくわくすることだと思います。届く前もわくわくしたし、届いた後もテイスティングシートを読みながら楽しくお酒を飲みました。わくわくする楽しいことにお金を使いたい人におすすめです。
          </p>
          <p class="white-70">
            大川さん @北海道
          </p>
        </div>

        <div class="mb3 pt3 bt b--white-30">
          <a class="dim dib ph4 pv3 tracked bg-white black-90 b br3 ba b--primary bw1 pointer no-underline" target=_blank href="//saketaku.com/products/basic/?utm_source=blog&utm_medium=banner&argument=cB7k5kE1&dmai=a5e9f8e4325e3a">
            もっと詳しく
          </a>
        </div>
      </div>

  </div>

</div>
