
{{ if eq .IsHome false }}

  <div class="breadcrumb Box">
    <div class="Box BoxGrid">
      <ul class="breadcrumb__items" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="/" itemprop="item">
            <span itemprop="name">
              ホーム
            </span>
            <meta itemprop="position" content="1">
          </a>
        </li>
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a href="/{{.Section}}" itemprop="item">
            <span itemprop="name">
              {{ with .Site.GetPage "section" .Section }}{{ .Title }}{{ end }}
            </span>
            <meta itemprop="position" content="2">
          </a>
        </li>
        <li class="breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <div itemprop="item">
            <span itemprop="name">
              {{ .Title | plainify }}
            </span>
            <meta itemprop="position" content="3">
          </div>
        </li>
      </ul>
    </div>
  </div>
{{ end }}
