<div class="Follow Box">
  <div class="Follow__wrapper Box BoxGrid Box--row">
    <div class="Follow__content Box Box--grow Box--row">

      <div class="Follow__item Follow__item--facebook">
        <a class="Follow__item-link" href="//www.facebook.com/saketaku.san/" target="_blank"></a>
        <h3 class="Follow__item-title">
          ディープな世界を、<br>
          Facebookでフォロー。
        </h3>
        <div class="ButtonGroup">
          <div class="Button Button--white">Facebookで更新をフォロー</div>
        </div>
      </div>


      
      <div class="Follow__item Follow__item--twitter">
        <a class="Follow__item-link" href="//www.twitter.com/saketaku_san" target="_blank"></a>
        <h3 class="Follow__item-title">
          お届けする日本酒の速報は、<br>
          Twitterでチェック。
        </h3>
        <div class="ButtonGroup">
          <div class="Button Button--white">Twitterで更新をチェック</div>
        </div>
      </div>

    </div>
  </div>
</div>
