<div class="flex flex-wrap">
  <div class="w-100 w-50-l">
    <div class="pr3-l">
      <div class="">
        <img src="/images/global/form/1.jpg" alt="" class="w-100">
      </div>
    </div>
  </div>
  <div class="w-100 w-50-l">
    <form id="email_signup" class="klaviyo_bare_embed_NfxKRF" action="//manage.kmail-lists.com/subscriptions/subscribe" data-ajax-submit="//manage.kmail-lists.com/ajax/subscriptions/subscribe" method="GET" target="_blank" novalidate="novalidate">
      <input type="hidden" name="g" value="NfxKRF">
      <div class="klaviyo_field_group">
        <h3 class="ma0 mb2 lh-title">
          美味しい日本酒に、<br>
          毎月出会おう。
        </h3>
        <p class="f6 black-60 ma0 mb2 lh-copy">
          メールアドレスを登録すると、オトクな割引きクーポンや、楽しい日本酒講座が届きます。気軽に楽しく、saketakuをご利用ください。
        </p>
        <div>
          <label for="k_id_email" class="klaviyo_form_actions f6 db black-60 mb1">
            メールアドレス*
          </label>
          <input 
            required
            type="email" 
            value="" 
            name="email" 
            id="k_id_email" 
            placeholder="メールアドレス"
            class="klaviyo_form_actions input-reset ba b--black-20 lh-solid pa3 f6 mb2 db w-100 br2"
          />
        </div>
      </div>
      <div class="klaviyo_messages">
        <div class="success_message" style="display:none;"></div>
        <div class="error_message" style="display:none;"></div>
        </div>
      <div class="klaviyo_form_actions">
        <button 
          type="submit" 
          class="klaviyo_submit_button f6 dim br2 ba bw1 ph3 pv2 mb2 dib bg-primary b--primary white pointer">
          登録する
        </button>
      </div>
    </form>
    <style>
      .success_message {
        line-height: 1.5;
        font-size: .875rem;
        padding: 1rem;
        border-radius: 3px;
      }
    </style>

    <script type="text/javascript" src="//www.klaviyo.com/media/js/public/klaviyo_subscribe.js"></script>
    <script type="text/javascript">
      KlaviyoSubscribe.attachToForms('#email_signup', {
        hide_form_on_success: true,
        success_message: "ご登録ありがとうございます！ご指定のメールアドレスにクーポン情報をお届けしました。ぜひご確認ください。"
      });
    </script>
  </div>
</div>      