
<!-- If home -->

{{ if .IsHome }}

  <nav class="flex flex-column flex-row-l justify-between w-100 border-box pa3 ph5-l">
    <div class="w-100 w-25-l tc tl-l mb2 mb0-l">
      <a href="/" class="b link dim dark-gray f6 f5-ns dib lh-title">
        美味しい日本酒の研究所 
        <br class='dn-l'>
        by saketaku
      </a>
    </div>
    <div class="w-100 w-50-l tc">
      <div class="nowrap overflow-x-auto">
        {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
          {{ $taxo := index $.Site.Data.taxonomies (lower .Title) }}
          <a href="{{.Permalink}}" 
             class="dim dark-gray f5-ns dib mh1 lh-title"
             style="font-size:.75rem">
            {{ $taxo }}
          </a>
        {{ end }}
      </div>
    </div>
    <div class="w-100 w-25-l dn db-l tr">
      <a href="/p/experts/" class="gray dim">
        信頼されるサイトとして
      </a>
    </div>
  </nav>

{{ else }}

  <nav class="flex flex-column flex-row-l justify-between w-100 border-box pa3 ph5-l">
    <div class="w-100 w-25-l">
      <a href="/" class="link dim gray f6 f5-l dib">
        <span>←</span> 
        <span class="dn dib-l">saketaku blogへ</span>
        <span class="dib dn-l">もどる</span>
      </a>
    </div>
    <div class="w-100 w-50-l tc">
      <a href="/" class="b link dim dark-gray f6 f5-ns dib lh-title">
        美味しい日本酒の研究所
        <br class='dn-l'>
        by saketaku
      </a>
    </div>
    <div class="w-100 w-25-l dn db-l tr">
      <a href="/p/experts/" class="gray dim">
        信頼されるサイトとして
      </a>
    </div>
  </nav>

{{ end }}