

  <header class="HeaderGlobal Box" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <div class="HeaderGlobal__content Box Box--grow Box--wrap Box--row Box--center">
      <!-- <div class="HeaderGlobal__menu-button js-menu-trigger-show">
        もくじ
      </div> -->
      <a href="/">
        <div class="HeaderGlobal__logo"></div>
      </a>
      <div class="HeaderGlobal__info">
        <a href="/p/experts/">
          信頼されるサイトとして
        </a>
      </div>
    </div>
  </header>

  <div class="HeaderGlobal__nav" itemscope="itemscope" itemtype="http://scheme.org/SiteNavigationElement">
    <div class="HeaderGlobal__nav-header Box">
      <div class="HeaderGlobal__nav-close-button js-menu-trigger-close">
        とじる
      </div>
    </div>
    <div class="HeaderGlobal__nav-body">
      {{ with .Site.Params.nav.section }}
        {{ range . }}
        <div class="HeaderGlobal__nav-section">
          <h5>{{ .title }}</h5>
          <ul>
            {{ range .item }}
              <li>
                <a href="{{ .url }}">{{ .title }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      {{ end }}
    </div>
    <div class="HeaderGlobal__nav-footer">
      <div class="HeaderGlobal__nav-footercopyright">
        {{ .Site.Params.copyright }}
      </div>
      <div class="HeaderGlobal__nav-footerunder20alert">
        お酒は20歳になってから。
      </div>
    </div>
  </div>

