<div class="HeadingModule Box">
    <div class="HeadingModule__wrapper Box BoxGrid Box--row">
      <div class="HeadingModule__content Box Box--grow Box--row">
        <h3>
        今日の<a href="//www.instagram.com/explore/tags/saketaku/" target="_blank">#saketaku</a>
        </h3>        
      </div>
    </div>
</div>


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>


<div class="MosaicModule Box">
  <div class="MosaicModule__wrapper Box BoxGrid Box--grow">
    <div id="feed" class="MosaicModule__content Box Box--row Box--wrap">
    </div>
  </div>
</div>