<section class="mw8 center">
  <div class="flex flex-wrap w-100">
    
    <div class="w-100 w-33-l ph2 mb3">
      <div class="overflow min-h-100 bg-white br2">
        <div class="tc ph3 pv3 pv4-l">
          <h2 class="f5 b black-90 mt2 mb2 lh-title">入手困難な極上日本酒を<br>プロがセレクション</h2>
          <p class="f6 black-60 measure lh-copy center mt0">
            全国にある日本酒1.5万銘柄の中から、プロが極上の一本をあなたのためにセレクト。満足度98.7%と大変人気のコースです。
          </p>
          <a href="//saketaku.com/products" class="f6 db black-90">詳しく見る</a>
        </div>
      </div>
    </div>
    
    <div class="w-100 w-33-l ph2 mb3">
      <div class="overflow min-h-100 bg-white br2">
        <div class="tc ph3 pv3 pv4-l">
          <h2 class="f5 b black-90 mt2 mb2 lh-title">友だちを招待して<br>クーポンを受け取る</h2>
          <p class="f6 black-60 measure lh-copy center mt0">
            お友達をsaketakuにオススメすると、クーポンが受け取れます。ぜひオトクに、美味しい日本酒をお楽しみください。
          </p>
          <a href="//saketaku.com/p/invite" class="f6 db black-90">友だちを招待する</a>
        </div>
      </div>
    </div>
    
    <div class="w-100 w-33-l ph2 mb3">
      <div class="overflow min-h-100 bg-white br2">
        <div class="tc ph3 pv3 pv4-l">
          <h2 class="f5 b black-90 mt2 mb2 lh-title">ご質問はありますか？</h2>
          <p class="f6 black-60 measure lh-copy center mt0">
            私たちは、快適にサービスを利用していただくために、情報の透明性を重視しています。ぜひお困りのことや知りたい情報が見つけられない場合は、お気軽にお問い合わせください。
          </p>
          <a href="//support.saketaku.com/" class="f6 db black-90">よくある質問を見る</a>
        </div>
      </div>
    </div>

  </div>
</section>