

<section class="section">
  <div class="wrap">
    {{ $currentUrl := .URL | replaceRE "^/(.*?)/.*$" "$1" }}
    {{ with $.Site.Params.nextRead }}
      {{ if in .group.list $currentUrl }}
        {{ $currentUrl := "single" }}
        {{ range .item }}
          {{ if eq $currentUrl .identifier }}
            <a class="cta cta--banner" href="{{ .url }}">
              <div class="lazyload image--ratio-169 cta__image" data-bgset="/assets/images/home/testimo-001-small.jpg [palm] | /assets/images/home/testimo-001-medium.jpg [lap] | /assets/images/home/testimo-001-large.jpg"></div>
              <div class="cta__main">
                <span class="cta__mainSubtitle">次のページへ</span>
                <h3 class="cta__mainTitle">{{ .title | safeHTML }}</h3>
                <div class="cta__mainDetail">{{ .detail | safeHTML  }}</div>
              </div>
            </a>
          {{ end }}
        {{ end }}
      {{ end }}

      {{ range .item }}
        {{ if eq $currentUrl .identifier }}
          <a class="cta cta--banner" href="{{ .url }}">
            <div class="lazyload image--ratio-169 cta__image" data-bgset="/assets/images/nextread/{{ .image }}-small.jpg [palm] | /assets/images/nextread/{{ .image }}-medium.jpg [lap] | /assets/images/nextread/{{ .image }}-large.jpg"></div>
            <div class="cta__main">
              <span class="cta__mainSubtitle">次のページへ</span>
              <h3 class="cta__mainTitle">{{ .title | safeHTML }}</h3>
              <div class="cta__mainDetail">{{ .detail | safeHTML  }}</div>
            </div>
          </a>
        {{ end }}
      {{ end }}
    {{ end }}
  </div>
</section>