<!-- <div class="HeadingModule HeadingModule--share Box">
  <div class="HeadingModule__wrapper Box">
    <h3>
      <span>
        「いいね」と思ったらシェアお願いします
      </span>
    </h3>
  </div>
</div>
 -->

<div class="Share Box">
  <div class="Share__wrapper Box Box--row Box--center Box--wrap">

    <a href="https://twitter.com/share" class="twitter-share-button" data-via="saketaku_san" data-size="small">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.10&appId=1309014082550135";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    
    <div class="fb-like" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>

    <div class="line-it-button" data-lang="ja" data-type="share-a" data-url="" style="display: none;"></div>
    <script>
      (function(){
        var line_button = document.querySelectorAll('.line-it-button');
        line_button[0].dataset.url = window.location.href;
      })();
    </script>
    <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

  </div>
</div>

