<div class="HeadingModule HeadingModule--share Box">
  <div class="HeadingModule__wrapper Box">
    <h3>
      <span>
        「いいね」と思ったらシェアお願いします
      </span>
    </h3>
  </div>
</div>


<div class="Share Box">
  <div class="Share__wrapper Box Box--row Box--center Box--wrap">

    <amp-social-share type="facebook" data-param-app_id="{{$.Site.Params.facebook.app_id}}"></amp-social-share>
    <amp-social-share type="twitter"></amp-social-share>
    <amp-social-share type="email"></amp-social-share>

  </div>
</div>

