
<section class="bg-white bt b--black-05 pv5-l">
  <div class="mw9 center">

    <div id="stamped-reviews-widget" class="w-100" data-widget-type="carousel" data-product-ids="1921020201190903" data-title="美味しい日本酒の定期便「saketaku」のレビュー" data-auto-play="true" data-auto-play-speed="10000" data-style-color-title="#191919" data-style-color-text="#191919" data-style-color-link="#011d43"></div>

    <script type="text/javascript" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>
    <script type="text/javascript">
      StampedFn.init({ apiKey: 'pubkey-Vt9papAAp42MiljDNPU291lzzx5Wzk', storeUrl: 'saketaku.com' }); 
    </script>
  
  </div>
</section>
