{{ define "title" }}{{ .Title }} | {{ end }}


{{ define "meta" }}
  {{ partial "meta/charset.html" . }}
  <title>{{ block "title" . }}{{ end }}{{ .Site.Title }}</title>
  {{ range .AlternativeOutputFormats }}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
  {{ end }}
  <meta property="og:title" content="{{ block "title" . }}{{ end }}{{ .Site.Title }}">
  <meta name="twitter:title" content="{{ block "title" . }}{{ end }}{{ .Site.Title }}">
  {{ partial "meta/seo.html" . }}
  {{ partial "meta/browser.html" . }}
  {{ partial "meta/og.html" . }}
  {{ partial "meta/favicon.html" . }}
  {{ partial "meta/webfont.html" . }}
  {{ partial "meta/single_json_ld.html" . }}
{{ end }}


{{ define "main" }}

<div class="bg-white">
  <div class="mw7 center">
    <div class="w-100 mb3">
      <article role="article" class="article">

        <header role="banner" class="pl3 pv3 pr3 measure-wide-ns center-ns tc-ns">
          <h1 class="lh-title mb3 f4 f3-ns black-90">
            {{ .Title }}
          </h1>

          <div>
            <div class="black-30 f6">
              {{ if not .Lastmod.IsZero }}
                 <time datetime='{{ .Page.Lastmod.Format "2006-01-02T15:04:05Z" }}'>更新日: {{ .Page.Lastmod.Format "2006 年 01 月 02 日" }}</time>
              {{ end }}
              {{ if .Params.date }}
                <time datetime='{{ .Date.Format "2006-01-02T15:04:05Z" }}'>公開日: {{ .Date.Format "2006 年 01 月 02 日" }}</time>
              {{ end }}

              <div>
                {{ with .Params.category }}
                  {{ $taxo := index $.Site.Data.taxonomies (printf "%s" .) }}
                  <a href="/category/{{ . }}">
                    <span>{{ $taxo }}</span>
                  </a>
                {{ end }}
              </div>
            </div>
          </div>

        </header>

      {{ with .Params.hero }}

        <figure class="ma0 mb3">
          <img class="w-100" src="/images/{{ . }}.jpg" alt="{{ $.Title }}">
        </figure>

      {{ end }}

      <div class="article__body">

        {{ with .Params.intro }}
        <div class="">
          {{ . | safeHTML }}
        </div>
        {{ end }}

        {{ if eq .Params.toc true }}
          <div class="bg-near-white pv3 ph5 br2">
            <h3 class="tc">✍️ もくじ 👩‍🎓</h3>
            {{ .TableOfContents }}
          </div>
        {{ end }}


        {{ .Content }}

      </div>
      
    </div>
  </div>
</div>

{{ partial "block/recent-posts.html" . }}



{{ end }}